<main>
  <header class="site-description-container">
    <div class="description">
      <h3>Notification Settings</h3>
      <p class="text-secondary">Manage and customize your email templates</p>
    </div>
  </header>
  <div class="template-editor-container">
    <template-editor
      [template]="currentTemplate"
      (onFormValidityChange)="updateTemplateFormValidity($event)"
      (onTemplateValuesChanged)="onTemplateValuesChanged($event)">
    </template-editor>
    <template-settings
      [template]="currentTemplate"
      (onFormValidityChange)="updateSettingsFormValidity($event)"
      (onSettingsChange)="onTemplateSettingsValuesChanged($event)">
    </template-settings>
  </div>
  <button class="btn btn-primary" [disabled]="isSaveDisabled()" (click)="saveSettings()">Save Settings</button>
</main>
