<main id="alert-root">
  <side-nav class="side-nav" *ngIf="authService.isAuthenticated"></side-nav>
  <div class="content-container">
    <top-nav class="top-nav" *ngIf="authService.isAuthenticated"></top-nav>
    <div class="content">
      @if (isSiteLoading()) {
        <div class="site-loading-container">
          <div class="spinner-border" role="status"></div>
          <h2>Loading</h2>
        </div>
      } @else {
        <router-outlet></router-outlet>
      }
    </div>
  </div>
</main>

<!--<div class="TestContainer">-->
<!--  <button (click)="testAlert()">Test Button</button>-->
<!--</div>-->

