<div class="side-nav-container">
  <div class="button-container">
    <button class="btn custom-nav-btn nav-button" routerLink="/dashboard" routerLinkActive="active">
      <lucide-icon name="home" size="24"></lucide-icon>
    </button>
    <button class="btn custom-nav-btn nav-button" routerLink="/connections" routerLinkActive="active">
      <lucide-icon name="Cable" size="24"></lucide-icon>
    </button>
    <button class="btn custom-nav-btn nav-button" routerLink="/message-editor" routerLinkActive="active">
      <lucide-icon name="message-square-warning" size="24"></lucide-icon>
    </button>
  </div>
</div>
