<div class="current-alert-container">
  <h3>Current Ulert</h3>
  <div class="card card-border current-alert">
    <div class="header">
      <h4>Structure Fire - Commercial Building</h4>
      <h6 class="active-badge">Active</h6>
    </div>
    <div class="content">
      <div class="alert-description-container">
        <div class="alert-info">
          <lucide-icon class="icon" name="map-pin" size="24"></lucide-icon>
          <p>Commercial Building</p>
        </div>
        <div class="alert-info">
          <lucide-icon class="icon" name="clock" size="24"></lucide-icon>
          <p>12/24/2024, 2:40:32 PM</p>
        </div>
        <div class="alert-info" *ngIf="false">
          <lucide-icon class="icon" name="users" size="24"></lucide-icon>
          <div class="profile-picture"></div>
        </div>
      </div>
      <div class="people-notified">
        <p>123 - People notified</p>
        <lucide-icon class="icon" name="bell-ring" size="24"></lucide-icon>
      </div>
    </div>
  </div>
</div>
