
.custom-table-group-divider {
  border-top: var(--accent-color) solid
}

[data-bs-theme=dark] {
  --background-color: #111826;
  --card-bg-color: #151D2C;
  --border-color: #374151;
  --hover-color: #182130;
  --second-card-color: #182130;
  --input-bg-color: #1A2332;
  --accent-color: #ef5244;
  --nav-element-color: #ffffff;
  --nav-active-element: #1A2332;
  --profile-picture-color: #374151;
  --accent-bg-color: #432834;
  --accent-hover-bg-color: #EF524477;
  --secondary-text-color: #9CA3AF;
  --text-color: #ffffff;

  --btn-dark-background: transparent;
  --btn-dark-border: transparent;
  --btn-dark-hover-background: #374151;
  --btn-dark-hover-border: #374151;
  --btn-dark-active-background: #1A2332;
  --btn-dark-active-border: #1A2332;
  --btn-dark-disabled-background: #1A2332;

  a {
    color: var(--accent-color);
  }

  .text-secondary {
    color: var(--secondary-text-color) !important;
  }

  .dropdown-menu {
    --bs-dropdown-bg: var(--card-bg-color);
    --bs-dropdown-link-active-bg: var(--input-bg-color);
    --bs-dropdown-link-active-color: var(--text-color);
    --bs-dropdown-link-hover-color: var(--text-color);
  }

  .dropdown-menu li:hover {
    --bs-dropdown-link-hover-bg: var(--hover-color);
  }

  .btn-primary {
    --bs-btn-bg: var(--accent-color);
    --bs-btn-border-color: var(--accent-color);
    --bs-btn-hover-bg: var(--accent-hover-bg-color);
    --bs-btn-hover-border-color: var(--accent-hover-bg-color);
    --bs-btn-active-bg: var(--accent-bg-color);
    --bs-btn-active-border-color: var(--accent-bg-color);
    --bs-btn-disabled-bg: var(--accent-bg-color);
    --bs-btn-disabled-border-color: var(--accent-bg-color);
  }

  .btn-dark {
    --bs-btn-bg: var(--btn-dark-background);
    --bs-btn-border-color: var(--border-color);
    --bs-btn-hover-bg: var(--btn-dark-hover-background);
    --bs-btn-hover-border-color: var(--btn-dark-hover-border);
    --bs-btn-active-bg: var(--btn-dark-active-background);
    --bs-btn-active-border-color: var(--btn-dark-active-border);
    --bs-btn-disabled-bg: var(--btn-dark-disabled-background);
    --bs-btn-disabled-border-color: var(--btn-dark-disabled-background);
  }

  .form-switch .form-check-input {
    padding: .5rem;
    width: 2.5rem;
    margin-right: .5rem;
  }

  .form-switch .form-check-input:focus {
    border-color: var(--accent-color);
    outline: 0;
    box-shadow: 0 0 0 0 var(--accent-color);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(89,92,95,1.0)'/></svg>");
  }

  .form-switch .form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
  }


  .card {
    position: static !important;
    background-color: var(--card-bg-color) !important;
    border: none !important;
    border-radius: .8rem !important;
  }

  .card-body {
    padding: 1.5rem !important;
  }

  .card-border {
    background-color: var(--card-bg-color) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: .8rem !important;
  }

  .secondary-card {
    background-color: var(--second-card-color) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: .8rem !important;
  }

  .form-control {
    background-color: var(--input-bg-color) !important;
    border: 1px solid var(--border-color) !important;
  }

  .custom-nav-btn {
    background: transparent;
    border: 1px solid transparent;
    color: var(--nav-element-color);
  }

  .custom-nav-btn:active:disabled,
  .custom-nav-btn:disabled {
    background: transparent;
    color: var(--border-color);
    pointer-events: auto;
    cursor: not-allowed;
  }

  .custom-nav-btn:active:not(:disabled) {
    background: var(--background-color) !important;
    border: 1px solid var(--nav-active-element) !important;
    color: var(--nav-active-element) !important;
  }

  .custom-nav-btn.active,
  .custom-nav-btn:hover {
    background: var(--hover-color);
    border: 1px solid var(--border-color);
  }

  .custom-nav-btn.active {
    color: var(--accent-color);
  }

  .text-primary {
    color: var(--accent-color) !important;
  }

  h1, h2, h3, h4, h5, h6, span, p {
    margin: 0;
  }

  .btn-outline-primary {
    --bs-btn-color: var(--accent-color);
    --bs-btn-border-color: var(--accent-color);

    --bs-btn-active-color: var(--text-color);
    --bs-btn-active-bg: var(--accent-color);
    --bs-btn-active-border-color: var(--accent-color);
  }

  .btn-primary-select {
    --bs-btn-color: var(--secondary-text-color);
    --bs-btn-border-color: var(--border-color);
    --bs-btn-bg: var(--border-color);

    --bs-btn-active-color: var(--text-color);
    --bs-btn-active-bg: var(--accent-color);
    --bs-btn-active-border-color: var(--accent-color);
  }

  .text-bg-primary {
    background: var(--accent-color) !important;
  }

  .form-select {
    --bs-body-color: var(--text-color);
    --bs-body-bg: var(--input-bg-color);
  }
}


* {
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body, html {
  height: 100dvh;
  min-height: 100svh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(55%) sepia(96%) saturate(4897%) hue-rotate(339deg) brightness(105%) contrast(88%);
}

main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

main.show-alert::before {
  opacity: 1;
}

main.show-alert .current-alert {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 1;

  border: 1px solid var(--accent-color) !important;
  transform: scale(1);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  105% {
    transform: scale(1);
  }
}


.secondary-card-background {
  background-color: var(--second-card-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 50px;
}

lucide-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
